/* newsletter */
.newsletter {
  margin-top: 50px;
  padding: 80px 0;
  background: #fceceb;
}

.newsletter .content {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
}
.newsletter .content h2 {
  color: #243c4f;
  margin-bottom: 40px;
}
.newsletter .content .form-control {
  height: 50px;
  border-color: #ffffff;
  border-radius: 0;
  width: 500px;
}
.newsletter .content.form-control:focus {
  box-shadow: none;
  border: 2px solid #243c4f;
}
.newsletter .content .btn {
  margin: 20px;
  width: 100%;
  min-height: 50px;
  border-radius: 0;
  background: #da2f2f;
  color: #fff;
  font-weight: 600;
}
